/*------------------------------------ Global styles -----------------------*/

/* Fonts */
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
}

/* Block dividers */
.block-divider-red {
    width: 200px;
    height: 2px;
    border: 0;
    background-color: #cb0707;
}

.block-divider-white {
    width: 200px;
    height: 2px;
    border: 0;
    background-color: white;
}

/*------------------------------------ index.html -----------------------*/

/*------------------------------------ Header --*/
#top-header {
    background-color: #cb0707;
    color: #fff;
    font-size: 15px;
}

#top-header ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

#top-header ul a {
    text-decoration: none;
    color: #fff;
}

/*------------------------------------ Navbar --*/
.navbar {
    margin-top: 22px; /* height of the first fixed element */
    background-color: #2c2c2c;
}

#menu .nav-link {
    color: #fff;
    border-right: 1px solid white;
}

#menu a:hover {
    background-color: #cb0707;
}

#menu .active {
    background-color: #cb0707;
}

/*------------------------------------ Hero section --*/
#hero-section {
    height: 97vh;

    background: url(../images/hero-image.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

.jumbotron {
    background-color: transparent;
    color: #fff;
}

/*------------------------------------ Service section --*/
#service-section {
    margin-top: 20px;
}

.tiles .col-6 {
    height: 160px;
    width: 160px;
    background-color: #cb0707;
    color: #fff;
    border: 1px solid #fff;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

#service-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-outline-danger {
    color: #cb0707;
    border-color: #cb0707
}

.btn-outline-danger:hover {
    background-color: #cb0707;
    color: #fff;
}

#service-section p {
    font-weight: 300;
    font-size: 21px;
}

/*------------------------------------ Advantages section --*/
#advantages-section {
    background-color: #cb0707;
    color: #fff;
}

/*------------------------------------ Quotes section --*/

.blockquote {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-left: 3px solid #000;
    font-weight: 300;
}

/*------------------------------------ Footer -----------------------*/
#page-footer {
    background-color: #2c2c2c;
    color: #fff;
}

#page-footer ul {
    list-style: none;
    padding-left: 0;
}

#page-footer ul i {
    color: #cb0707;
}

#page-footer ul a {
    color: #fff;
    text-decoration: none;
}

#page-footer ul a:hover {
    color: #cb0707;
}

.btn-danger {
    background-color: #cb0707;
}

.btn-danger:hover {
    background-color: rgb(168, 2, 2);
}
/*------------------------------------ prices.html -----------------------*/

/*------------------------------------ Prices hero section -----------------------*/
#prices-hero-section {
    height: 60vh;

    background: url(../images/prices-image.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*------------------------------------ Prices section --*/
#playstation3, #playstation4, #x360, #xone, #psp, #ninswitch {
    padding-top: 90px;
}

#prices-section .table-bordered th{
    border:1px solid #cb0707;
}
#prices-section .table-bordered td{
    border:1px solid #cb0707;
}

/*------------------------------------ Footer -----------------------*/
#page-footer {
    background-color: #2c2c2c;
    color: #fff;
}

#page-footer ul {
    list-style: none;
    padding-left: 0;
}

#page-footer ul i {
    color: #cb0707;
}

#page-footer ul a {
    color: #fff;
    text-decoration: none;
}

#page-footer ul a:hover {
    color: #cb0707;
}

/*------------------------------------ contact.html -----------------------*/

/*------------------------------------ Contact hero section -----------------------*/

#contact-hero-section {
    height: 60vh;

    background: url(../images/contact-image.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}